<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>patdpat</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    
    


    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon.png' %}">


    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet">

    

</head>
<body>

    <header id="masthead" class="site-header" data-anchor-target=".hero" data-top="background: rgba(255,255,255,0); padding: 30px 0; box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0);" data-top-bottom="background: rgba(255,255,255,1); padding: 10px 0; box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.2);">
        <nav id="primary-navigation" class="site-navigation">
            <div class="container">
                <div class="navbar-header page-scroll">

                    <button type="button" class="navbar-toggle collapsed" data-target="#portfolio-perfect-collapse" aria-expanded="false" >
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    

                </div><!-- /.navbar-header -->

                <div class="main-menu" id="portfolio-perfect-collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li class="page-scroll"><a href="#hero">Home</a></li>
                        <li class="page-scroll"><a href="#about">About</a></li>
                        <li class="page-scroll"><a href="#service">Skills</a></li>
                        <li class="page-scroll"><a href="#portfolio">Portfolio</a></li>
                        <li class="page-scroll"><a href="#contact">Contact</a></li>
                        
                    </ul><!-- /.navbar-nav -->

                </div><!-- /.navbar-collapse -->

            </div>
        </nav><!-- /.primary-navigation -->
    </header><!-- /#header -->

    <div id="hero" class="hero">
        <div xclass="container">
            <div class="row">

                <div class="col-md-6">
                    <h1>Sidtipat Kietchai</h1>
                    <div class="page-scroll">
                        <p class="job-title">Software Engineering Student</p>
                        <a href="#contact" class="btn btn-fill ">Contact Me</a>
                        <div class="clearfix visible-xxs"></div>
                        <a href="#portfolio" class="btn btn-border">Explore Me</a>
                    </div>
                </div>
            
                <div class="col-md-6 text-right">
                    <img src="{% static 'assets/img/pat_pic.jpg' %}" alt="pat_pic">
                </div>

            </div>
        </div>
    </div><!-- /.hero -->

    <main id="main" class="site-main">

        <section id="about" class="site-section section-about text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h2>About</h2>
                        <img src="{% static 'assets/img/lines.svg' %}" class="img-lines" alt="lines"> 
                        <p>Hello! I'm Pat, a software engineering student, a Pythonian, and a guy slighty obsessed for code quality. I’m currently looking for an internship. If you have a position that you thought I can apply or think you need my help with something, then hit me up !</p>
                        <a href="{% static 'assets/pat_resume.pdf' %}" class="btn btn-fill" target="_blank" download>Download my resume</a> 
                    </div>
                </div>
            </div>
        </section><!-- /.secton-about -->

        <section class="site-section section-skills">
            <div class="container">
                <div class="text-center">
                    <h3>My Skills</h3>
                    <img src="{% static 'assets/img/lines.svg' %}" class="img-lines" alt="lines"> 
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="skill">
                            <h4>Html/css</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="80"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                        <div class="skill">
                            <h4>Javascript</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="70"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                    </div>
                    <div class="col-md-4">
                        <div class="skill">
                            <h4>Python</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="75"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                        <div class="skill">
                            <h4>C++</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="40"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                    </div>
                    <div class="col-md-4">
                        <div class="skill">
                            <h4>Node</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="40"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                        <div class="skill">
                            <h4>R</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="10"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                    </div>
                </div>
            </div>
        </section><!-- /.secton-skills -->

        <section id="service" class="site-section section-services overlay text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>What i can do</h3>
                        <img src="{% static 'assets/img/lines.svg' %}" class="img-lines" alt="lines"> 
                    </div>
                    <div class="col-sm-4">
                        <div class="service">
                            <img src="{% static 'assets/img/front-end.svg' %}" alt="Front End Developer"> 
                            <h4>Front-end</h4>
                            <p>As a javascript developer, I have experience in HTML5 and CSS3 techniques working with jQuery or more advanced javascript MVC frameworks such as React, and python MVT frameworks such as Django.</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-sm-4">
                        <div class="service">
                            <img src="{% static 'assets/img/back-end.svg' %}" alt="Back End Developer"> 
                            <h4>Back-end</h4>
                            <p>The past year I've been playing with Django REST frameworks, I've written services supporting my front-end framework application, including REST APIs.</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-sm-4">
                        <div class="service">
                            <img src="{% static 'assets/img/data.svg' %}" alt="Data Science"> 
                            <h4>Data Science</h4>
                            <p>As well as doing development, I can also perform data clensing and querying from database, but I've had little experience in this field and still have a lot of room to learn and improve data science skills.</p>
                        </div><!-- /.service -->
                    </div>
                </div>
            </div>
        </section><!-- /.secton-services -->

        <section id="portfolio" class="site-section section-portfolio">
            <div class="container">
                <div class="text-center">
                    <h3>My recent Experiences</h3>
                    <img src="{% static 'assets/img/lines.svg' %}" class="img-lines" alt="lines"> 
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="{% static '/assets/img/Portfolio-1.jpg' %}" class="img-res" alt=""> 
                            <div class="portfolio-item-info">
                                <h4>Hult prize - Event coordinator</h4>
                                <a href="#" data-toggle="modal" data-target="#portfolioItem1"><span class="glyphicon glyphicon-eye-open"></span></a>
                                
                            </div><!-- /.portfolio-item-info -->
                        </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="{% static 'assets/img/Portfolio-2.jpg' %}" class="img-res" alt="">
                            <div class="portfolio-item-info">
                                <h4>NTi CO.Ltd - Intern Software Engineer</h4>
                                <a href="#" data-toggle="modal" data-target="#portfolioItem2"><span class="glyphicon glyphicon-eye-open"></span></a>
                            
                            </div><!-- /.portfolio-item-info -->
                        </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="{% static 'assets/img/Portfolio-3.jpg' %}" class="img-res" alt=""> 
                            <div class="portfolio-item-info">
                                <h4>TEDxKasetsartU - Marketing team</h4>
                                <a href="#" data-toggle="modal" data-target="#portfolioItem3"><span class="glyphicon glyphicon-eye-open"></span></a>
                               
                            </div><!-- /.portfolio-item-info -->
                        </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="{% static 'assets/img/Portfolio-4.jpg' %}" class="img-res" alt="">
                            <div class="portfolio-item-info">
                                <h4>TEDxKasetsartU - Web developer</h4>
                                <a href="#" data-toggle="modal" data-target="#portfolioItem4"><span class="glyphicon glyphicon-eye-open"></span></a>
                            </div><!-- /.portfolio-item-info -->
                        </div><!-- /.portfolio-item -->
                    </div>
                    
                </div>
            </div>
        </section><!-- /.secton-portfolio -->

        <section class="site-section section-counters text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <p id="infinity" class="counter" data-from="0" data-to="1" data-speed="1000">0</p>
                        <h4>Seconds spent on this site !<br>How about calling me ?</h4>
                    </div>
                </div>
            </div>
        </section><!-- /.section-counters -->

        <section id="contact" class="site-section section-form text-center">
            <div class="container">

                <h3>Contact</h3>
                <img src="{% static 'assets/img/lines.svg' %}" class="img-lines" alt="lines">
                <Br>
                <h4>E-MAIL</h4>
                <h4>s.kietchai@outlook.com</h4>
                <Br>
                <Br>
                <h4>PHONE</h4>
                <h4>+66 81-882-7322</h4>
                
            </div>
        </section><!-- /.section-form -->

    </main><!-- /#main -->


    <!-- Modals -->
    <div id="portfolioItem1" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
            <img class="img-res" src="{% static 'assets/img/portfolio-1.jpg' %}" alt=""> 
          </div>
          <div class="modal-body">
            <h4 class="modal-title">Hult prize at Kasetsart - Event coordinator</h4>
            <p>Planned and coordinated events for the competition, managed budget. Communicated and worked closely with the license holder to ensure that their requirements and goals were fully met. Designed event spaces, conceptualized themes, produced timelines and evaluated event attendance and quality.</p>
          </div>
          
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem2" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
            <img class="img-res" src="{% static 'assets/img/portfolio-2.jpg' %}" alt=""> 
          </div>
          <div class="modal-body">
            <h4 class="modal-title">NTi CO.Ltd - Intern Software Engineer</h4>
             <p>I've worked here during my summer freshman year. Key responsibilities are on-site and remote Software/Network/OS Troubleshooting, collaborate with existing staff and executives to simplify the overall software development process,mostly fix documentation and code comment.</p>
            
          </div>
          
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem3" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
            <img class="img-res" src="{% static 'assets/img/portfolio-3.jpg' %}" alt=""> 
          </div>
          <div class="modal-body">
            <h4 class="modal-title">TEDxKasetsartU - Marketing team staff</h4>
            <p>Worked on the development and implementation of new digital marketing tools, assisted in SEO management.
                As a result, achieving great social media engagement and exceeding the number of audience goals by more than 200 seats.</p>
          </div>
          
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem4" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
            <img class="img-res" src="{% static 'assets/img/portfolio-4.jpg' %}" alt="">
          </div>
          <div class="modal-body">
            <h4 class="modal-title">TEDxKasetsartU - Head of web design & Developer</h4>
            <p>Redesigned event's web-based application and provided beneficial IT support to colleagues and advisors. Test and debugging websites. Developed and implemented tools that increased the level of automation on ticket selling. Make CI/CD and deploy a live website on a cloud server.</p>
          </div>
          
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Bootstrap core JS
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{% static 'assets/js/skrollr.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-progressbar/0.9.0/bootstrap-progressbar.min.js"></script>
    <script src="{% static 'assets/js/jquery.countTo.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
  
</body>
</html>